@charset "UTF-8";
*{
	margin: 0 auto;
 	padding: 0;
 	box-sizing: border-box;
}
body{
	text-align: center;
	display: flex;
	background: url('../img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	height: 680px;
}
#add{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 420px;
	min-width: 390px;
	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	margin: 15px;
	border: 20px rgba(100,100,250,0.8) outset;
	padding: 10px;
	background: rgba(255,255,255, 0.5);
	color: black;
}
#entete{
	margin: 18px;
}
[type="text"]{
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 2px solid black;
	position: relative;
	top: 5px;
	width: 300px;
}
[type="radio"]{
	margin-left: 10px;
	outline: none;
}
#ajouter{
	background-image: url('../img/ajouter.jpg');
	border-color: green;
	position: relative;
	top: 50px;
	background-size: cover;
	height: 45px;
	width: 45px;
	border-radius: 10px;
	transition: .3s ease-out;
}
#ajouter:hover{
	cursor: pointer;
	width: 50px;
	height: 50px;
}
fieldset{
	margin: 10px;
	padding: 10px;
	position: relative;
	top: 10px;
	border-color: black;
}
#icone{
	border: none;
	border-radius: 10px;
}
#err_name{
	position: relative;
	top: 5px;
	color: red;
	height: 12px;
	display: block;
}
.logo{
	position: relative;
	top: 20px;
	border: 4px inset grey;
}
#err_logo{
	position: relative;
	top: -30px;
	color: red;
	display: block;
	height: 12px;
}
.close{
	position: absolute;
	text-decoration: none;
	color: red;
	font-weight: 900;
	font-size: 3rem;
	z-index: 1;
	border-radius: 20px;
}
.close:hover{
	background-color: rgba(233,1,1,0.5);
	color: black;
}
#delete{
	position: absolute;
	top: 60px;
	left: 10px;
	right: 10px;
	margin: 10px 0px;
	border: 2px solid black;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
	background: rgba(255,255,255, 0.5);
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
[type="checkbox"]{
	margin-right: 0px;
	color: red;
}
label{
	border-radius: 50%;
	margin-left: 0px; 
}
label img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.element{
	border: 2px solid blue;
	margin: 5px;
}
.element:hover{
	background-color: rgba(100,100,250,0.8);
	color: red;
	cursor: pointer;
}
#supprimer{
	background-image: url('../img/delete.jpg');
	background-position: center;
	background-size: cover;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transition: .3s ease-out;
	margin: auto;
}
#supprimer:hover{
	width: 70px;
	height: 70px;
	cursor: pointer;
}
.closed{
	text-decoration: none;
	color: red;
	font-weight: 900;
	font-size: 3rem;
	z-index: 1;
	border-radius: 20px;
}
.closed:hover{
	background-color: rgba(233,1,1,0.5);
	color: black;
}
#titre{
	position: absolute;
	top: 10px;
	left: 40%;
	color: yellow;
}
.name{
	font-weight: bolder;
}
@media screen and (max-width: 614px){
	#titre{
		position: absolute;
		left: 20%;
	}
}
@media screen and (max-width: 470px){
	#titre{
		position: absolute;
		left: 10%;
		font-size: 20px;
	}
}